/* flex布局 */
.container{
    height: 100vw;
    width: 100vw;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    
   }
  .item{
    flex: 1;
  }
  
  .first{
    display: flex;
    flex: 1;
  }
  .second{
     display: flex;
     flex: 2;
  }
  .box{
      display: flex;
      flex-direction: column;
      flex: 1;
  }
  .bigitem{
    flex: 2;
  }

/* 轮播图 */
.swiper {
    position: relative;
    margin: 60px auto;
    width: 450px;
    height: 300px;
    overflow: hidden;
 }
 
 /*自动播放*/
 .swiper .swiper-wrapper {
    animation: swiperAnim 9s infinite;
    padding: 0;
    width: 3000px;
    height: 100%;
 }
 /* 设置装图片的列表 */
 .swiper li {
    float: left;
    width: 600px;
    list-style: none;
    line-height: 600px;
 }
/* 设置图片大小 */
.swiper li img{
    width: 450px;
    height: 300px;
}

 /*动画*/
 @keyframes swiperAnim {
    /* 从第二张照片开始展示 */
    0% {
        margin-left: -600px;
    }
    /* 增加滞留时长 */
    28.5% {
        margin-left: -600px;
    }
    /*转换成第三张图片*/
    33.3% {
        margin-left: -1200px;
    }
    /* 增加滞留时长 */
    62% {
        margin-left: -1200px;
    }
    /* 转换成第一张图片，li中的第4个 */
    66.7% {
        margin-left: -1800px;
    }
    /* 增加滞留时长 */
    95.2% {
        margin-left: -1800px;
    }
    /* 跳转到第五张照片后立刻接着显示第二张 */
    100% {
        margin-left: -2400px;
    }
 }